---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import BetaNotice from '../../components/BetaNotice.astro';
import VideoDemo from '../../components/VideoDemo.astro';
import Features from '../../components/Features.astro';
import Roadmap from '../../components/Roadmap.astro';
import Lightbox from '../../components/Lightbox.astro';
import LanguageSwitcher from '../../components/LanguageSwitcher.astro';
import Footer from '../../components/Footer.astro';
---

<Layout lang="de">
  <LanguageSwitcher />
  <main>
    <Hero />
    <BetaNotice />
    <VideoDemo />
    <Features />
    <Roadmap />
  </main>
  <Lightbox />
  <Footer />
</Layout>
